.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 24em;
}

.game__word-container {
  position: relative;
}

.game__word {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.game__stat {
  display: flex;
  justify-content: space-between;
}

.game__start-btn {
  padding: 2em 1em;
}
