.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 2.5em;
  width: 37.5em;
  max-width: 90%;
}

.game__menu {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  width: 100%;
  padding: 2em;
  border: 3px solid var(--color-green);
  border-radius: 1.5em;
}

.game__title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

.game__input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.game__word-container {
  position: relative;
}

.game__word {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.game__stat,
.game__helper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game__helper {
  position: absolute;
  top: -8em;
  width: 100%;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat__label {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}

.stat__value {
  font-size: 1.125em;
}
