.letter,
.letter--success,
.letter--fail {
  text-align: center;
  background-color: #ffffff;
  color: #212121;
  border: 1px solid #e5e5e5;
  height: 3.25em;
  width: 3.25em;
  padding: 1em;
  text-transform: capitalize;
  border-radius: 0.25em;
  font-weight: 800;
}

.letter--success {
  background-color: #16d316;
  border-color: #16d316;
  color: #ffffff;
  animation: success-pop 0.3s;
}

.letter--fail {
  background-color: #eb130f;
  border-color: #eb130f;
  color: #ffffff;
  animation: fail-pop 0.3s;
}

@keyframes success-pop {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.25;
  }

  100% {
    scale: 1;
  }
}

@keyframes fail-pop {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: -1em;
  }

  50% {
    margin-top: 0;
  }

  75% {
    margin-top: 1em;
  }

  100% {
    margin-top: 0;
  }
}
